.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
   body {
    height: 100vh;
    flex-direction: column;
    display: grid;
    grid-template-rows: 1fr 1fr;
   }

   h1 {
    font-family: Impact, Haettenschweiler;
    font-size: xx-large;
    padding-bottom: 10%;
   }

   h2 {
    color:blue
   }

   .randomWord {
     word-spacing: 3%;
     font-size: larger;
     color: #eb1212;
     border-color: blue
   }

  h4 {
    font-family: arial;
    font-size: xx-large;
    padding-bottom: 10%
    ;
   }

   .buttons {
    background-color: rgb(168, 243, 161);
    color: black;
    font-weight: 800;
 }

   .submittedLetters {
    display: grid;
    height: 20vh;
    border-color: aquamarine;
    border-style: dashed;
    margin-right: 800px;
    margin-bottom: 60px;

  }
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }