.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.hangManIndicator {
  letter-spacing: 30px;
  padding: 5%;
  border-style: dotted;
  color: white
}
.letter {
  color: white
}

.key {
  color: black;
}

h1 {
  font-family: Impact, Haettenschweiler;
  font-size: xx-large;
  padding-bottom: 3%;
   }

.message-header {
  color: black
}

h3 {
  color:blue
}
  
.randomWordBorder {
  border-style: groove; 
  border-color: rgb(125, 228, 100);
}
.randomWord {
  letter-spacing: 40px;
  font-size: larger;
  color: rgb(24, 22, 22);
}

.buttons {
  background-color: rgb(168, 243, 161);
  color: black;
  font-weight: 800;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  border-color: rgb(68, 219, 169);
  border-style: solid;
}

.wrong {
  color: red;
  }


body {
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}

.startClicked {
  background-color: white;
  color: #f8f5f5;
}

em { 
  text-decoration: underline; 
  font-weight: bold;
}
 