 
body {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: center;
  padding: 5px;
}
 .hangManIndicator {
  letter-spacing: 30px;
  padding: 2%;
  border-style: dotted;
  color: rgb(245, 235, 235)
}
.letter {
  color: white
}

.key {
  color: black;
}

h1 {
  font-family: Impact, Haettenschweiler;
  font-size: 80px;
  padding-bottom: 3px;
   }

.message-header {
  color: black
}

h3 {
  color:blue
}

.showWordBorder {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-color: green;
  padding: 10px;
}
.randomWord {
  letter-spacing: 40px;
  font-size: larger;
  color:white
}

.buttons {
  background-color: rgb(168, 243, 161);
  color: black;
  font-weight: 800;
}

.keyboard {
  padding: 10px;
  border-color: rgb(68, 219, 169);
  border-style: solid;
}

.wrong {
  color: red;
  }


body {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startClicked {
  display: none
}

em { 
  text-decoration: underline; 
  font-weight: bold;
}

changeButton {
  color: black;
  display: z
}
 